NAPCAT_IMAGE=mlikiowa/napcat-docker:v4.18.13
NAPCAT_UID=1000
NAPCAT_GID=1000
QQFRIEND_IMAGE_TAG=linux-preview
# Optional when the official Python package index is slow from the server.
# PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
